* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #00240f;
}

#inicio,
hero,
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

#inicio {
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  position: fixed;
}

#inicio span {
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ec0000;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  border-bottom: 0.175rem solid transparent;
}

nav a:hover {
  color: #ec0000;
  border-bottom: 0.175rem solid #ec0000;
}

.btn-vermelho {
  background-color: #ec0000;
  color: #ffffff;
  font-variant: small-caps;
  border-radius: 50px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
}

.btn-vermelho:hover {
  color: #ffffff;
  border: none;
  background-color: #d40101;
}

hero {
  padding-top: 50px;
  justify-content: space-evenly;
  font-size: 20px;
}

.title-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.title-hero h1 {
  font-size: 50px;
}

#menu {
  display: flex;
  flex-direction: column;
  border-top: 60px solid #ffffff;
  justify-content: space-evenly;
  align-items: center;
}

.aj-img {
  margin: 15px;
  width: 150px;
}

h2 {
  font-size: 30px;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 20px;
}

#pizza {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 10px;

  border: 1px solid #2a5a2d;
  border-radius: 100px 100px 10px 10px;
  box-shadow: 0px 2px 5px -1px #2a5a2d;
  background-color: #ffffff;

  width: 200px;
  padding: 10px;
  font-size: 14px;
}

#tabela {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: #2a5a2d;
  border-top: 60px solid #ffffff;
  border-bottom: 60px solid #ffffff;
}

table {
  width: 400px;
}

td,
caption,
th {
  color: #ffffff;
  padding: 10px;
}

caption {
  font-size: 20px;
  font-variant: small-caps;
}

footer {
  margin-top: 40px;
  font-size: 12px;
  width: 100%;
  height: 30px;
}

@media (max-width: 950px) {
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .title-hero h2 {
    font-size: 35px;
  }

  img {
    width: 350px;
  }

  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  body {
    width: max-content;
    max-width: 500px;
  }

  #inicio {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 70px;
  }

  hero {
    padding-top: 80px;
  }
}
