* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00240f;
}

#inicio,
main,
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#inicio {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    position: fixed;
}

#inicio a:hover{
    color: #EC0000;
}

span {
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #EC0000
}

nav {
    display: flex;
    gap: 20px;
}

a {
    color: #00240f;
}

main {
    flex-direction: column;
    padding-top: 150px;
    height: 380px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;

    padding: 10px;
    border: 2px solid #EC0000;
    border-radius: 10px;

    font-weight: bold;
    font-size: 14px;
}

input, textarea {
    border: none;
    padding: 5px;
}

textarea {
    height: 100px;
}

input::placeholder {
    color: #9ab1a3;
    background-color: #ffffff;
}

input:focus,
textarea:focus {
    border: 0.5px solid #00240f;
    border-radius: 5px;
    background-color: #ffffff;
}

.botao {
    background-color: #EC0000;
    border-radius: 10px;

    color: #ffffff;
}

footer {
    margin-top: 100px;
    font-size: 12px;
    width:100%;
    height: 30px;
}